[Unit]
Description=uWSGI instance to serve CRISPR Cut Browser web app
After=network.target

[Service]
User=some_user_here
Group=www-data
WorkingDirectory=/path/to/crispr/browser
Environment="PATH=/path/to/crispr/browser/env/bin"
ExecStart=/path/to/crispr/browser/env/bin/uwsgi --ini ccb_uwsgi.ini

[Install]
WantedBy=multi-user.target
