[Unit]
Description=uWSGI instance to serve MHcut Browser web app
After=network.target

[Service]
User=some_user_here
Group=www-data
WorkingDirectory=/app/mhcut-browser
Environment="PATH=/app/mhcut-browser/env/bin"
ExecStart=/app/mhcut-browser/env/bin/uwsgi --ini mcb_uwsgi.ini

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
