body {
    padding: 0;
    margin: 0;
    background-color: #ECEFF1;
}

main {
    position: fixed;
    z-index: 10;
    top: 15px; left: 15px; right: 200px; bottom: 15px;
    overflow: hidden;
    background-color: #FEFEFE;
    border: 1px solid #DCDCDC;
    border-bottom-color: #D3D3D3;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
}

section#table-display {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 50px;
    overflow: auto;
}

section#table-display::after {
    position: fixed;
    top: 16px; left: 16px; right: 201px; bottom: 66px;
    z-index: 20;
    opacity: 0;
    background-color: #FEFEFE;
    border-radius: 4px;
    pointer-events: none;

    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: #999;
    line-height: 100vh;

    content: "Loading...";

    transition: opacity 0.1s;
    animation-duration: 1s;
    animation-name: loading;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loading {
    from { color: #999; }
    to { color: #333; }
}

section#table-display.loading::after {
    opacity: 1;
    pointer-events: auto;
}

section#table-pagination {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    border-top: 1px solid #F0F0F0;
    background-color: #FCFCFC;
}

section#table-pagination div {
    flex: 1;
    padding: 0 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
    text-align: center;
    line-height: 47px;
    color: #666;
}
section#table-pagination div:first-of-type {
    text-align: left;
}
section#table-pagination div:last-of-type {
    text-align: right;
}

section#table-pagination button {
    vertical-align: top;
    box-sizing: border-box;
    height: 26px;
    padding: 0;
    margin-top: 10px;
    margin-left: 5px;

    border: 1px solid #DFDFDF;
    border-bottom-color: #D3D3D3;
    border-radius: 4px;
    background-color: #FEFEFE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

    color: #777;

    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

section#table-pagination button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

section#table-pagination button:hover {
    border-color: #D0D0D0;
    color: #555;
}

section#table-pagination button span.material-icons {
    min-width: 30px;
    font-size: 1.2rem;
    line-height: 25px;
}

aside#filter-options {
    position: fixed;
    z-index: 15;
    top: 0; right: 0; bottom: 0;

    box-sizing: border-box;
    width: 200px;
    padding: 0 15px;

    background-color: #ECEFF1;

    overflow-y: auto;
}

aside#filter-options h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "Roboto Mono", monospace;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    color: #555;
}

aside#filter-options h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    font-size: 0.75rem;
    color: #777;
    text-align: center;
    letter-spacing: 2px;
}

aside#filter-options h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.9rem;
    color: #222;
}

aside#filter-options h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    font-size: 0.775rem;
    color: #333;
}

aside#filter-options label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.775rem;
    color: #333;
}
aside#filter-options label.checkbox-label {
    margin-top: 5px;
}

aside#filter-options select {
    width: 100%;
}

aside#filter-options input[type="checkbox"] {
    vertical-align: top;
}

aside#filter-options input[type="text"],
aside#filter-options input[type="number"] {
    width: 100%;
}

aside#filter-options button {
    vertical-align: top;
    box-sizing: border-box;
    margin: 10px 0;
    height: 30px;
    width: 100%;

    border: 1px solid #DFDFDF;
    border-bottom-color: #D3D3D3;
    border-radius: 4px;
    background-color: #FEFEFE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 0 white;

    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    font-size: 0.8rem;

    cursor: pointer;

    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

aside#filter-options button#apply-filters {
    margin-bottom: 15px;

    border: 1px solid #2196F3;
    border-bottom-color: #1E88E5;
    background-color: #42A5F5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

    font-weight: bold;
    color: #E3F2FD;
}

aside#filter-options hr {
    margin: 10px 2px;
    border: none;
    border-top: 1px solid #DFDFDF;
}



table#entry-table {
    border-collapse: collapse;
}

table#entry-table thead th {
    position: sticky;
    top: 0;
    padding: 4px 10px 6px 10px;
    background-color: #FEFEFE;
    box-shadow: inset 0 -1px 0 #E6E6E6, 0 1px 10px rgba(0, 0, 0, 0.01);
    font-size: 0.7rem;
    font-family: "Roboto Mono", monospace;
    color: #444;
    white-space: nowrap;
    cursor: pointer;
}

table#entry-table thead th span.material-icons {
    margin-left: 2px;
    vertical-align: top;
    font-size: 1.1rem;
    color: #999;
}

table#entry-table tbody tr:nth-child(even) td {
    background-color: #F8F8F8;
}

table#entry-table tbody td {
    padding: 4px 10px;
    border-bottom: 1px solid #F0F0F0;
    font-size: 0.8rem;
    font-family: "Roboto Mono", monospace;
    color: #333;
}

table#entry-table tbody td.lighter {
    color: #B0B0B0;
}

table#entry-table tbody td a {
    color: #1E88E5;
    transition: color 0.15s ease-in-out;
}
table#entry-table tbody td a:hover {
    color: #42A5F5;
}



div#advanced-search-container {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 50;

    background-color: rgba(236, 239, 241, 0.6);
    opacity: 0;

    pointer-events: none;

    transition: opacity 0.3s ease-in-out;
}
div#advanced-search-container.shown {
    display: block;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 50;

    background-color: rgba(236, 239, 241, 0.6);
    opacity: 1;

    pointer-events: auto;
}

div#advanced-search-modal {
    position: absolute;
    top: 60px; left: 260px; right: 260px; bottom: 60px;
    z-index: 100;

    overflow: hidden;

    background-color: #FEFEFE;
    border: 1px solid #D5D5D5;
    border-bottom: 1px solid #C9C9C9;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
}

div#advanced-search-modal h2 {
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
    color: #555;
}

div#advanced-search-modal button#hide-advanced-search {
    position: absolute;
    top: 21px; right: 24px;
    z-index: 150;
    padding: 0;
    border: none;
    background: none;
    color: #AAA;
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}
div#advanced-search-modal button#hide-advanced-search:hover {
    color: #999;
}
div#advanced-search-modal button#hide-advanced-search span.material-icons {
    font-size: 2rem;
}

div#advanced-search-modal div#advanced-search-modal-scroll-container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 50px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 24px 30px;
}
div#advanced-search-modal div#advanced-search-modal-scroll-container::after {
    display: block;
    height: 24px;
    content: "";
}

div#advanced-search-modal div.code-comparison {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
}

div#advanced-search-modal p {
    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
    color: #333;
}

div#advanced-search-modal-options {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    border-top: 1px solid #F0F0F0;
    background-color: #FCFCFC;
}

div#advanced-search-modal-options div {
    flex: 1;
    padding: 0 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
    text-align: center;
    line-height: 47px;
    color: #666;
}
div#advanced-search-modal-options div:first-of-type {
    text-align: left;
}
div#advanced-search-modal-options div:last-of-type {
    text-align: right;
}

div#advanced-search-modal-options button {
    vertical-align: top;
    box-sizing: border-box;
    height: 28px;
    padding: 0 8px 0 6px;
    margin-top: 10px;

    border: 1px solid #DFDFDF;
    border-bottom-color: #D3D3D3;
    border-radius: 4px;
    background-color: #FEFEFE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
    color: #777;
    line-height: 14px;

    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
div#advanced-search-modal-options button span.material-icons {
    vertical-align: top;
    font-size: 1rem;
}

ul#advanced-search-conditions {
    list-style: none;
    margin: 0; padding: 0;
}

ul#advanced-search-conditions li {
    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
    color: #333;
}
ul#advanced-search-conditions li:not(:first-child) {
    margin-top: 10px;
}

ul#advanced-search-conditions li select {
    margin-right: 5px;
    vertical-align: top;
}

ul#advanced-search-conditions li select,
ul#advanced-search-conditions li input {
    vertical-align: top;
}

ul#advanced-search-conditions li div.boolean-type-placeholder {
    display: inline-block;
    width: 60px;
}

ul#advanced-search-conditions li button.remove-search-condition {
    background: none;
    border: none;
}
ul#advanced-search-conditions li button.remove-search-condition span.material-icons {
    margin-top: 6px;
    font-size: 1.1rem;
    color: #AAA;
    transition: color 0.15s ease-in-out;
}
ul#advanced-search-conditions li button.remove-search-condition:hover span.material-icons {
    color: #999;
}



code {
    background-color: #FCFCFC;
    border: 1px solid #DFDFDF;
    border-top-color: #D3D3D3;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.03);
    color: #444;
}

div.code-comparison {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
div.code-comparison code {
    flex: 1;
    margin: 0 5px;
    padding: 5px 7px;
}
div.code-comparison code:first-child { margin-left: 0; }
div.code-comparison code:last-child { margin-right: 0; }



input[type="text"],
input[type="number"] {
    box-sizing: border-box;
    padding: 5px 7px;

    border: 1px solid #DFDFDF;
    border-bottom-color: #D3D3D3;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 2px rgba(0, 0, 0, 0.05);

    font-size: 0.8rem;
    font-family: "Roboto Mono", monospace;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 4px 20px 4px 4px;

    border: 1px solid #DFDFDF;
    border-bottom-color: #D3D3D3;
    border-radius: 4px;
    background: url('./unfold_more.svg') no-repeat calc(100% - 5px), linear-gradient(#FEFEFE, #FAFAFA);
    background-size: 16px 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
}
